/* Barra de navegacion */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursiva;
  }
  
  .navbar {
    padding: 2rem;
    background-color: #5c6570;
  }
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  .seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
  }
  
  .seccion-descripcion {
    font-size: 1.2rem;
    color: rgb(58, 52, 52);
  }
  
  .seccion-texto {
    text-align: justify;
    font-size: 1.2rem;
  }
  
  .contenedor {
    border-style: double;
    padding: 1rem;
  }
  
  .texto-negro {
    color: rgb(46, 29, 29);
  }
  
  /* seccion persona */
  
  .persona {
    background-color: #d5dce4;
    min-height: 450px;
    text-align: center;
  }
  
  .persona-principal {
    padding: 3rem;
  }
  
  .persona-imagen-desarrollador {
    width: 13rem;
    height: 13rem;
    margin: 1.5rem;
  }
  
  .persona-principal h2 {
    font-size: 1.5rem;
    color: #48499c;
  }
  
  /* Sobre mi */
  
  .sobre-mi {
    height: 36rem;
    background-color: #dad5e4;
  }
  
  .sobre-mi .contenedor {
    max-width: 38rem;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  
  /* Proyectos */
  
  .entradas {
    height: 28rem;
  }
  
  .proyecto:hover img {
    opacity: 0.2;
  }
  
  /* Pie de pagina (footer) */
  
  footer {
    min-height: 16rem;
    background-color: #5c6570;
    padding: 3rem;
  }
  
  .footer-logo {
    height: 5rem;
    width: 5rem;
    margin: 1rem;
  }
  
  .iconos-redes-sociales a {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 1rem;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .autor {
    font-size: 1rem;
    color: #aeaeae;
    padding: 1.2rem;
  }
  